@using System.Globalization
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer

@model List<Market.ViewModel.UserViewModel>
@{
    var userModel = new Market.ViewModel.UserViewModel();
}

<div class="container-fluid">
    <div class="row">
        <div>
            <partial name="AddUserOfList" model='@userModel' />
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<table class="table table-hover">
    <thead>
        <tr>
            <th>@localizer["FullName"]</th>
            <th>@localizer["Email"]</th>
            <th>@localizer["Phone"]</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.FullName)</td>
                <td>@Html.DisplayFor(modelItem => item.Email)</td>
                <td>@Html.DisplayFor(modelItem => item.Phone)</td>
                <td><a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">@localizer["Delete"]</a></td>
                <td><a class="btn btn-primary" asp-action="EditUser" asp-route-id="@item.Id">@localizer["Update"]</a></td>
            </tr>
        }
    </tbody>
</table>