@using System.Globalization
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer localizer
@model IEnumerable<Market.ViewModel.ProductViewModel>

<p>
   <a asp-action="Create" asp-route-ivoiceId='0' class ="btn btn-primary" > @localizer["Create New Invoice"] </a>
</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th>@localizer["ProductName"]</th>
            <th>@localizer["Quantity"]</th>
            <th>@localizer["price"]</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ToList())
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.ProductName)</td>
                <td>@Html.DisplayFor(modelItem => item.Quantity)</td>
                <td>@Html.DisplayFor(modelItem => item.Price)</td>
            </tr>
        }
    </tbody>
</table>